.wrapper {
  display: flex;
  justify-content: center;
}

.part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.smile1,
.smile2,
.smile3,
.smile4,
.smile5,
.smile6 {
  font-size: 100px;
  cursor: pointer;
}

.counter1,
.counter2,
.counter3,
.counter4,
.counter5,
.counter6 {
  font-size: 50px;
}

.btn {
  display: flex;
  justify-content: center;
}